* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #000;
  background-color: #f6f5f6;
}

a {
  color: #5838ea;
  text-decoration: none;
  border-bottom: dotted 2px #5938ea89;
}

a:hover {
  color: #e74c3c;
}

.header {
  border: dotted 1px #000;
  background: #9c8ed8;
}

.limiter {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

nav {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  display: inline-block;
  padding: 8px;
  background-color: aqua;
}

main {
  padding: 40px 24px;
}

.sections {
  display: flex;
  gap: 24px;
}

.section {
  padding: 8px 16px;
  border: solid 1px #000;
  background-color: #d0cbea;
}

.section-trending {
  background-color: rgb(202, 154, 154);
  padding: 12px 48px;
}

.section-trending ul li {
  list-style: none;
}

figure {
  margin: 16px 0;
}

article {
  margin-bottom: 54px;
}

article p {
  color: #666;
}

article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.footer {
  text-align: center;
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
  padding: 24px;
  background: #ddd;
}
