body {
  background-color: black;
  color: beige;
}

.item {
  padding: 16px;
  background-color: white;
  color: red;
}

.box {
  display: flex;
  gap: 8px;
  justify-content: space-around;
  background-color: rgb(185, 185, 124);
}

.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
